<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-6">
        <h1>Welcome to {{pageName}}</h1>
        <p>{{pageDescription}}</p>
      </div>
      <div class="col-sm-6">
        <img src="{{photoPath}}" alt="{{photoAltText}}">
      </div>
    </div>
  </body>
</html>


